body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table,td,th,tr{
  border:3px solid green;
  border-collapse: collapse;
}
a{
  color:yellow;
  text-decoration: none;
}
h1{
  color:brown;
}
.tab{
  
  background-color: light rgb(227, 227, 236);
}



